.delete-fields {

    width: fit-content;
    margin: auto;
    text-align: center;

    .buttons {
        display: flex;
        justify-content: center;

        .btn {

            padding: .5em 1.5em .5em 1.5em;
            margin: 1em;

            font-size: 20px;
            font-weight: 600;

            cursor: pointer;
            transition-duration: 200ms;

            border: 2px $dark1 solid;
            border-radius: 10px;
        
        }

        .btn:hover {
            color: $text-color2;
            transition-duration: 200ms;
        }

        .error:hover {
            border-color: $error;
        }

        .sucess:hover {
            border-color: $sucess;
        }
    }

}