.dashboard-container {
    
    width: 50%;
    margin: auto;

    .default {
        .userInfo {
            float: right;
        }
    }
    
    .dash-welcom{
        .title {
            text-align: center;
            align-items: center;
        }
    }
}

.userlist-container {

    .title{
        text-align: center;
    }

    table {
        margin: auto;
        width: 100%;
        
        th {
            padding: 8px;
        }
    }

    .userlist {

        ul{
            list-style: none;

            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 15px 0px;
                border: 1px $dark1 solid;
                border-radius: 10px;
                padding: 10px;
            }
        }

        
    }

}

.tabs{
    ul {
        display: flex;
        list-style: none;

        position: absolute;
        left: 50%;
        top: 7em;
        transform: translate(-50%, -50%);

        .is-active {
            background-color: $text-color1;
        }

        li {
            margin-right: 10px;
            padding: 10px;
            background-color: $text-color2;
            border-radius: 10px;

            a{
                color: $dark1;
            }

            
        }
    }

}

.content {
    padding-top: 100px;
}

.usereditor-container {

    width: 60%;
    margin: auto;
    text-align: center;
}

