.profilContainer {

    width: 60%;
    margin: auto;

    margin-top: 2em;
    border: 2px solid $light1;
    border-radius: 20px;
}

.profilHeader{
    
    padding: 25px;
    display: flex;

    p.custom-button{
        margin-left: auto;
        margin-right: 10px;

        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 0;
    }

    .picture {
        display: inline;
        
        .uploadPic{
            form {
                .file{
                    
                    input {
                        border: 1px $dark1 solid;
                    }
                }
            }
        }
    }

    
    
    .profil {
        margin-left: 20px;


        .username {
            text-transform: uppercase;
            text-decoration: underline;

            font-size: 25px;
            font-weight: 700;
        }

        

        .bio{
            margin-top: 10px;
        }

        .bioInput{
            resize: none;
            width: 350px;
            height: 50px;

            font-family: 'Roboto', sans-serif;
            padding: 5px;
            
            border: 1px solid $light1;
            border-radius: 10px;
            background-color: $dark2;
            color: $text-color1;
            
        }

        .link{
            text-decoration: none;
            color: $text-color1;
            font-size: 25px;
            margin-left: 10px;

            :hover {
                color: $text-color2;
            }
        }

        .linkInput {
            margin-bottom: 20px;
            margin-top: 20px;

            padding: 5px;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;

            border: 1px solid $light1;
            border-radius: 10px;
            background-color: $dark2;
            color: $text-color1;

        }
    }

}

.profil-body{
    width: 90%;
    margin: auto;

    .profil-tabs {
            ul {
                display: flex;
                list-style: none;
    
                width: 90%;
                margin: auto;

                margin-top: 1.5em;

                justify-content: center;
        
                .is-active {
                    background-color: $text-color1;
                }
        
                li {
                    margin-right: 10px;
                    padding: 10px;
                    background-color: $text-color2;
                    border-radius: 10px;
        
                    a{
                        color: $dark1;
                    }
        
                    
                }
            }
        
        }
    


}

.follow{
margin: 0;
}



.profilPicture {
    height: 180px;
    width: 180px;
    border-radius: 25px;
    object-fit: cover;
    margin-bottom: 30px;
}

