.succes {
    text-align: center;
    margin-bottom: -10px;
}

.log-container {

    margin-top: 100px;

    .field {
       text-align: center;
    }

    input {
        border: none;
        background-color: $dark1;
        color: $text-color1;
        font-size: 20px;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
        resize: none;
    }

    .btn {
        padding: 1em;
        background-color: $light2   ;
        color: $dark1;
        font-weight: 500;
        transition-duration: 200ms;
        cursor: pointer;
        border-radius: 10px;

        width: 250px;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

