.succes {
    text-align: center;
    margin-bottom: -10px;
}

.log-container {

    width: 60%;
    margin: auto;

    .connection-form{
        width: 40%;
        margin: auto;
        padding-top: 10px;

        .form-container{

            ul {
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: flex-start;

                margin-bottom: 0;

                .active-btn {
                    color: $text-color2;
                    border-left: 2px solid $light2;
                    border-right: 2px solid $light2;
                    border-top: 2px solid $light2;
                }

                li {

                    border-left: 2px solid $dark2;
                    border-right: 2px solid $dark2;
                    border-top: 2px solid $dark2;
                    padding: 15px 15px 15px 15px;
                    margin: 1px -15px 0px 20px;

                    border-radius: 10px 10px 0 0;

                    font-size: 20px;

                }
            }

            .form {
                
                padding: 20px 0px 50px 0px;
                border: 2px solid $dark2;
                border-radius: 10px;

                background-color: $dark1;

                .form-content {
                    padding: 10px;
                    display: flex;
                    justify-content: center;

                    .field {
                        margin-top: 20px;
                        text-align: left;

                        .error {
                            margin-top: 4px;
                        }
                    }
                    
                    label {
                        font-size: 16px;
                        
                    }

                    input{
                        margin: 3px;
                        padding: 5px;
                        font-size: 20px;

                        border: 1px solid $light2;
                        border-radius: 5px;

                        background-color: $dark2;
                        color:$text-color1;
                    }

                    .button {
                        font-size: 16px;
                        background-color: $light2;
                        border-color: $dark2;
                        padding: 10px;
                    }
                    
                }

            }

        }
    }

}

