//Font Import
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');


//color
$white: #FFF;
$black: #000;

$dar2: #0F1726;
$dark1: #191F2B;
$base: #282C34;
$light1: #464D59;
$light2: #626977;

$text-color1: #b9c7e4;
$text-color2: #5377c3;