@import './settings';
@import './navbar';
@import './home';
@import 'profil';
@import './profilPage';
@import './article';
@import './editor';
@import './articleThread';
@import './dashboard';


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $base;
    color: $text-color1;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

a {
    text-decoration: underline;
    color: $text-color2;
    cursor: pointer;
}

.link {
    text-decoration: underline;
    color: $text-color2;
    cursor: pointer;
}

.error {
    color: $text-error;
}

.sucess {
    color: rgb(160, 238, 141)
}

.userInfo {

    display: flex;
    align-items: center;

    .icon-big{
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 20px;
    }

    .icon-med{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 20px;
    }

    .icon-small{
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 20px;
    }

    .username{
        margin-left: 5px;
        text-transform: capitalize;
    }

    .badges {

        i {
            padding-left: 5px;
        }
    }
}