@import './settings';
@import './navbar';
@import './home';
@import 'profil';
@import './profilPage';
@import './article';
@import './editor';
@import './articleThread';


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $base;
    color: $text-color1;
}

.container{
    width: 70%;
    margin: auto;
}

a {
    text-decoration: underline;
    color: $text-color2;
    cursor: pointer;
}

.link {
    text-decoration: underline;
    color: $text-color2;
    cursor: pointer;
}

.error {
    color: $text-error;
}

.sucess {
    color: rgb(160, 238, 141)
}